.project-container {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.project-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}

.project-content {
    flex: 1;
}

.project-title, .project-description, .project-link, .project-code-link {
    margin: 5px 0;
}

.project-link, .project-code-link, .project-link:visited, .project-code-link:visited {
    text-decoration: none;
    color: #007bff; /* Keeps the link color consistent */
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.project-link:hover, .project-code-link:hover {
    background-color: #007bff;
    color: white;
}


.project:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .project-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

/* New Media Query for Larger Screens */
@media (min-width: 769px) {
    .project {
        flex-direction: row; /* Change to row layout for larger screens */
        align-items: flex-start; /* Align items to the start of the flex container */
    }

    .project-image {
        max-width: 200px; /* Adjust max width as needed */
        margin-right: 20px; /* Ensure there's space between the image and content */
        margin-bottom: 0; /* Reset bottom margin for side-by-side layout */
    }

    .project-content {
        text-align: left; /* Ensure text is left-aligned for readability */
    }
}
